@model ProductSearchCondition
@{
    ViewBag.Title = "Lập đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">

        <!-- Tìm kiếm, hiển thị và chọn hàng đưa vào giỏ -->
        <div class="col-md-4">

            <!-- Form tìm kiếm mặt hàng -->
            <h4>Lựa chọn hàng cần bán</h4>
            <form id="formSearchProducts" 
                  action="~/Order/SearchProducts" 
                  method="post" 
                  data-result="#searchProductsResult">

                <input type="hidden" asp-for="PageSize" />
                <input type="hidden" asp-for="CategoryID" />
                <input type="hidden" asp-for="SupplierID" />
                <input type="hidden" asp-for="maxPrice" />
                <input type="hidden" asp-for="minPrice" />

                <div class="input-group">
                    <input type="text" 
                           name="searchValue"
                           class="form-control"
                           asp-for="SearchValue"
                           placeholder="Nhập tên mặt hàng cần tìm">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>

            </form>
            
            <div id="searchProductsResult">

            </div>
        </div>

        <!-- Thông tin giỏ hàng, khách hàng -->
        <div class="col-md-8">
            <!-- Giỏ hàng -->
            <h4>Danh sách mặt hàng đã chọn</h4>
            
            <div id="cart">

            </div>

            <div class="text-right">
                <a href="~/Order/ClearCart" class="btn btn-sm btn-danger" onclick="clearCart(); return false;">
                    <i class="fa fa-trash"></i> Xóa giỏ hàng
                </a>
            </div>

            <!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
            <form action="~/Order/Init" id="formOrderInit" method="post" class="form-horizontal">
                <h4>Thông tin về khách hàng và địa chỉ giao hàng</h4>
                <div class="form-group">
                    <label class="control-label col-sm-2">Khách hàng:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control" 
                            name="customerID" 
                            asp-items="await SelectListHelper.Customers()" 
                            onchange="getCustomerInfo(this)">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Tỉnh/thành:</label>
                    <div class="col-sm-10">
                        <select 
                            class="form-control select2" 
                            id="province"
                            name="deliveryProvince" 
                            asp-items="await SelectListHelper.Provinces()">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Địa chỉ nhận hàng:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="deliveryAddress" id="address"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus-circle"></i> Lập đơn hàng
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearchProducts").submit(function (e) {
                e.preventDefault;
                searchProducts(1);
            });
            searchProducts(1);
            getCart();

            $("#formOrderInit").submit(function (e) {
                e.preventDefault();
                var url = $(this).prop("action");
                var method = $(this).prop("method");
                var submitData = $(this).serializeArray();

                $.ajax({
                    url: url,
                    method: method,
                    data: submitData,
                    success: function (respone) {
                        if (respone.code === 1) {
                            // TODO: Chuyển về trang Quản lý đơn hàng
                            location.href = `/Order/Details/${respone.data}`
                        }
                        else {
                            alert(code.message);
                        }
                    }
                });
            });
        });
        // Thực hiện lời gọi ajax để tìm kiếm mặt hàng và hiển thị kết quả
        function searchProducts(page) {
            var url = $("#formSearchProducts").prop("action");
            var method = $("#formSearchProducts").prop("method");
            var container = $("#formSearchProducts").data("result");
            var submitData = $("#formSearchProducts").serializeArray();
            submitData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                method: method,
                data: submitData,
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
        // Lấy giỏ hàng và hiển thị
        function getCart() {
            $.ajax({
                url: "/Order/GetCart",
                method: "get",
                success: function (data) {
                    $("#cart").html(data);
                }
            });
        }
        // Xóa 1 mặt hàng có mã là id trong giỏ hàng
        function removeFromCart(id) {
            $.ajax({
                url: `/Order/RemoveFromCart/${id}`,
                method: "post",
                success: function (data) {
                    if (data.code === 1) {
                        getCart();
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        }
        // Xóa toàn bộ giỏ hàng
        function clearCart() {
            $.ajax({
                url: "/Order/ClearCart/",
                method: "post",
                success: function (data) {
                    if (data.code === 1) {
                        getCart();
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        }
        // Cập nhật lại số lượng (tăng/giảm) hàng trong giỏ
        function updateCartQuantity(id, quantity) {
            $.ajax({
                url: `/Order/UpdateCartQuantity/${id}?quantity=${quantity}`,
                method: "post",
                success: function (data) {
                    if (data.code === 1) {
                        getCart();
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        }
        // Lấy thông tin khách hàng được chọn
        function getCustomerInfo(obj) {
            var customerID = $(obj).val();
            $.ajax({
                url: `/api/customer/${customerID}`,
                method: "get",
                success: function (data) {
                    $('#province').val(data.province);
                    $('#address').val(data.address);
                }
            });
        }
    </script>
}