@{
    ViewBag.Title = "Xóa nhà cung cấp";
}

<div class="box box-danger">
    <div class="box-body">
        <form action="#">
            <div class="form-group">
                <label>Tên nhà cung cấp:</label>
                <p class="form-control-static">Công ty TNHH Vô hạn</p>
            </div>

            <div class="form-group">
                <label>Tên giao dịch:</label>
                <p class="form-control-static">Vô Hạn Ltd</p>
            </div>

            <div class="form-group">
                <label>Điện thoại:</label>
                <p class="form-control-static">0982545789</p>
            </div>

            <div class="form-group">
                <label>Email:</label>
                <p class="form-control-static">vohan@gmail.com</p>
            </div>

            <div class="form-group">
                <label>Địa chỉ:</label>
                <p class="form-control-static">100 Trần Phú</p>
            </div>

            <div class="form-group">
                <label>Tỉnh/thành:</label>
                <p class="form-control-static">Thừa Thiên Huế</p>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    Xóa dữ liệu
                </button>
                <a href="~/Supplier" class="btn btn-default">
                    Quay lại
                </a>
            </div>

        </form>

    </div>
</div>
